body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50; /* สีพื้นหลังของ header */
    color: white;
    text-align: center;
    padding: 20px;
}

.promo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.promo-image {
    width: 50%;
    height: auto;
}

.promo-text {
    margin-left: 20px;
}

.features {
    padding: 20px;
}

.feature-item {
    margin: 20px 0;
    padding: 10px;
    background-color: #f1f1f1;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
